Repository mmitic99/ISA_Projekat: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-frontend, run-backend

added sonarcloud
  .circleci/dynamic_config.yml
  FishingBookingApp-backend/.circleci/config.yml
  FishingBookingApp-backend/pom.xml
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/FishingBookingAppApplicationTests.java
  README.md
Due: run-backend

feat: resolving conflict situations with special reservations
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/ReservationController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/SpecialReservationServiceImpl.java
Due: run-backend

fix: deleting entities
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/model/ReservationEntities.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/AvailableAppointmentRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/BoatRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/CottageRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/EntityImageRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/ReservationEntitiesRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/SpecialReservationRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/SubscriptionRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/BoatServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/CottageServiceImpl.java
  FishingBookingApp-frontend/src/app/special-user/su-home/su-home.component.html
Due: run-frontend, run-backend

feat: resolving conflict situations with cottage and boat update
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/BoatController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/CottageController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/BoatRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/CottageRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/BoatService.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/CottageService.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/BoatServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/CottageServiceImpl.java
Due: run-backend

fix: resolving conflicts situations with cottages and boat update
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/BoatRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/CottageRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/BoatServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/CottageServiceImpl.java
Due: run-backend

added pdf for Student2 - conflict situations
  FishingBookingApp-frontend/src/app/special-user/entity-reservation/entity-reservation.component.ts
  Student 2 -konfliktne situacije.pdf
Due: run-frontend

Update Student 2 -konfliktne situacije.pdf
  Student 2 -konfliktne situacije.pdf
Due: none

fix: bugs
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/EmailService.java
  FishingBookingApp-backend/src/main/resources/application.properties
  FishingBookingApp-frontend/package-lock.json
  FishingBookingApp-frontend/src/app/unauthorized-user/reservation-entity/reservation-entity.component.css
  FishingBookingApp-frontend/src/app/unauthorized-user/reservation-entity/reservation-entity.component.html
Due: run-frontend, run-backend

sonarcloud fix
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/FishingBookingAppApplication.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/AuthController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/BoatController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/ReservationController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/ReservationEntitiesController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/ReviewController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/SubscriptionController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/UserController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/dto/AvailableAppointmentDTO.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/dto/ReservationDTO.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/dto/ReservationForClientDTO.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/dto/ReviewDTO.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/dto/SearchFilterSort.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/dto/SpecialReservationDTO.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/dto/TimeRangeDTO.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/dto/UserDTO.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/model/Penalty.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/model/Review.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/BusinessReportServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/EmailService.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/ReservationEntitiesServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/ReservationServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/SpecialReservationServiceImpl.java
Due: run-backend

Update README.md
  README.md
Due: none

test: integration tests
  .circleci/dynamic_config.yml
  FishingBookingApp-backend/pom.xml
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/CottageController.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/FishingBookingAppApplicationTests.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/constants/ReservationEntitiesConstants.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/controller/CottageControllerTest.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/controller/ReservationEntitiesControllerTest.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/service/BusinessReportServiceTest.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/util/TestUtil.java
  FishingBookingApp-backend/src/test/resources/application.properties
  FishingBookingApp-backend/src/test/resources/test-data.sql
Due: run-backend

test: unit tests
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/BusinessReportServiceImpl.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/constants/ReservationEntitiesConstants.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/constants/UserConstants.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/controller/CottageControllerTest.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/service/BusinessReportServiceTest.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/service/ReportForReservationServiceTest.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/service/ReservationEntitiesServiceTest.java
Due: run-backend

fix: fixing bugs and code smells from Sonar cloud
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/FishingBookingAppApplication.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/SubscriptionController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/model/Boat.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/model/BoatOwner.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/model/Cottage.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/model/CottageOwner.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/model/ReservationEntities.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/AdditionalServiceRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/BoatRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/CottageRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/ReservationEntitiesRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/ReservationRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/SubscriptionRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/UserRoleRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/BoatService.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/SubscriptionService.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/UserRoleService.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/BoatServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/CottageServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/EntityImageServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/RequestForDeletingAccountServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/ReservationEntitiesServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/ReservationServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/SpecialReservationServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/SubscriptionServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/UserRoleServiceImpl.java
Due: run-backend

test: student 1 integration tests
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/constants/ReservationConstants.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/constants/ReservationEntitiesConstants.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/constants/SubscriptionConstants.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/constants/UserConstants.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/controller/ReservationControllerTest.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/controller/ReservationEntitiesControllerTest.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/controller/SubscriptionControllerTest.java
  FishingBookingApp-backend/src/test/resources/application.properties
Due: run-backend

test: student 1 unit tests
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/ReservationServiceImpl.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/constants/RequestForDeletingAccountConstants.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/constants/ReservationConstants.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/constants/ReviewConstants.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/service/RequestForDeletingAccountConstantsServiceTest.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/service/ReservationServiceTest.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/service/ReviewServiceTest.java
Due: run-backend

fix: added new data
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/FishingBookingAppApplication.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/AuthController.java
Due: run-backend

finall fix
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/FishingBookingAppApplication.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/AuthController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/ReservationController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/controller/ReviewController.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/ReviewRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/ReviewService.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/ReservationServiceImpl.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/ReviewServiceImpl.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/constants/ReservationConstants.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/controller/CottageControllerTest.java
  FishingBookingApp-frontend/src/app/regular-user/additional-services-reservation/additional-services-reservation.component.html
  FishingBookingApp-frontend/src/app/regular-user/service/review.service.ts
  FishingBookingApp-frontend/src/app/regular-user/subscribed/subscribed.component.ts
  FishingBookingApp-frontend/src/app/special-user/reservation-view/reservation-view.component.ts
  FishingBookingApp-frontend/src/app/unauthorized-user/login/login.component.ts
  FishingBookingApp-frontend/src/app/unauthorized-user/reservation-entity/reservation-entity.component.html
  FishingBookingApp-frontend/src/app/unauthorized-user/reservation-entity/reservation-entity.component.ts
Due: run-frontend, run-backend

fix: sonar cloud
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/FishingBookingAppApplication.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/FishingBookingAppApplicationTests.java
  FishingBookingApp-backend/src/test/java/isa/FishingBookingApp/service/BusinessReportServiceTest.java
Due: run-backend

fix: conflict situations
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/repository/UserRepository.java
  FishingBookingApp-backend/src/main/java/isa/FishingBookingApp/service/impl/SubscriptionServiceImpl.java
  Student 1 -konfliktne situacije.pdf
Due: run-backend

Path conditions:
  run-frontend: any of: FishingBookingApp-frontend/.*
  run-backend: any of: FishingBookingApp-backend/.*
